<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />

    <section name="quarters" type="GadsdenReporting.QuarterSection, GadsdenReporting"/>
  </configSections>
  
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory name="">
      <property name="connection.provider">NHibernate.Connection.DriverConnectionProvider</property>
      <property name="connection.driver_class">NHibernate.Driver.OracleDataClientDriver</property>
      <property name="connection.connection_string">Data Source=Cameron-PC/XE;User Id=cblock;Password=Madcat90;Min Pool Size=10;Connection Lifetime=120;Connection Timeout=180;</property>
      <property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
      <property name="show_sql">true</property>
      <property name="query.substitutions">true 1, false 0, yes 'Y', no 'N'</property>
      <property name="current_session_context_class">thread_static</property>
    </session-factory>
  </hibernate-configuration>

  <log4net debug="true">
    <appender name="RollingFile" type="log4net.Appender.RollingErrorAppender,log4net">
      <param name="File" value="nHibernate.txt" />
      <param name="AppendToFile" value="true" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%d %p %m%n" />
      </layout>
    </appender>

    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </logger>

    <appender name="RollingErrorAppender" type="log4net.Appender.RollingErrorAppender">
      <file value="FileLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date-%timestamp-%message%newline" />
      </layout>
    </appender>

    <appender name="RollingUsageAppender" type="log4net.Appender.RollingErrorAppender">
      <file value="UsageLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date-%timestamp-%message%newline" />
      </layout>
    </appender>

    <appender name="RollingLoginAppender" type="log4net.Appender.RollingErrorAppender">
      <file value="LoginLog.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date-%timestamp-%message%newline" />
      </layout>
    </appender>

  </log4net>

  <quarters>
    <add month="January" />
    <add month="April" />
    <add month="July" />
    <add month="October" />
  </quarters>

  <connectionStrings>
    <!--<add name="OracleDbContext" providerName="Oracle.ManagedDataAccess.Client" connectionString="User Id=CBLOCK;Password=Madcat90;Data Source=XE" />-->
    <add name="OracleDbContext" connectionString="User Id=CBLOCK;Password=Madcat90;Max Pool Size=10;Data Source=XE" />
  </connectionStrings>

  <!--<oracle.manageddataaccess.client>
    <version number="*">
      <settings>
        <setting name="NAMES.DIRECTORY_PATH" value="(TNSNAMES)" />
      </settings>
      <dataSources>
        <dataSource alias="OracleDatabase" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SID=XE)(SERVER=DEDICATED)))" />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>-->

  <appSettings>
    <!-- Used for salting password hashes, if not possible to encrypt here consider hard coding into the class, or some other means of making secure. -->
    <add key="salt" value="AdHockey:" />
    <add key="IsProd" value="false" />

    <add key="ServerEmailAccount" value="cnblock@cox.net" />

    <!-- Email settings. -->
    <add key="AdminEmails" value="cnblock@cox.net" />
    <add key="ServerEmailPassword" value="$p@ceMar1ne!" />
    <add key="ServerEmailHost" value="" />

    <!-- Location we dump the output archives. -->
    <add key="ArchiveFolder" value="C:\Users\Cameron\AppData\Local\Temp\ArchiveFolder" />
    
    <!-- Encryption information. -->
    <add key="EncryptionKey" value="Madcat90" />
    <add key="EncryptionIV" value="L0ngBow" />

    <!-- Impersonation for the ban screen log cloning feature. -->
    <add key="AccountName" value="" />
    <add key="DomainName" value="" />
    <add key="AccountPass" value="" />
    <add key="CloneDestination" value="ClonedLogs" />
    <add key="TimeFmt" value="F" />
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>