<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <!-- Location we dump the output archives. -->
    <add key="ArchiveFolder" value="C:\Users\Cameron\AppData\Local\Temp\ArchiveFolder" />
    <add key="ArchiveDays" value="2" />
  </appSettings>
</configuration>